/* Scroll space */
.grid-header th:nth-child(1), .grid-filter td:nth-child(1) { width: 17px;}
/* Prop:condt_id_convs */
.grid-header th:nth-child(2),
.grid-filter td:nth-child(2), .grid-filter td:nth-child(2) input,
.tre9 td:nth-child(1), .tro9 td:nth-child(1),
.tbh9 td:nth-child(1), .tbf9 td:nth-child(1) { width: 200px;}
/* Prop:condt_vl_from */
.grid-header th:nth-child(3),
.grid-filter td:nth-child(3), .grid-filter td:nth-child(3) input,
.tre9 td:nth-child(2), .tro9 td:nth-child(2),
.tbh9 td:nth-child(2), .tbf9 td:nth-child(2) { width: 150px;}
/* Prop:condt_vl_to */
.grid-header th:nth-child(4),
.grid-filter td:nth-child(4), .grid-filter td:nth-child(4) input,
.tre9 td:nth-child(3), .tro9 td:nth-child(3),
.tbh9 td:nth-child(3), .tbf9 td:nth-child(3) { width: 150px;}
/* Prop:tabs_vc */
.grid-header th:nth-child(5),
.grid-filter td:nth-child(5), .grid-filter td:nth-child(5) input,
.tre9 td:nth-child(4), .tro9 td:nth-child(4),
.tbh9 td:nth-child(4), .tbf9 td:nth-child(4) { width: 25px;}
/* Prop:recd_wd */
.grid-header th:nth-child(6),
.grid-filter td:nth-child(6), .grid-filter td:nth-child(6) input,
.tre9 td:nth-child(5), .tro9 td:nth-child(5),
.tbh9 td:nth-child(5), .tbf9 td:nth-child(5) { width: 30px;}
/* Prop:recd_wd */
.grid-header th:nth-child(7),
.grid-filter td:nth-child(7), .grid-filter td:nth-child(7) input,
.tre9 td:nth-child(6), .tro9 td:nth-child(6),
.tbh9 td:nth-child(6), .tbf9 td:nth-child(6) { width: 30px;}
