/* Prop:trfmd_aa */
.grid-header th:nth-child(1),
.grid-filter td:nth-child(1),
.grid-filter td:nth-child(1) input,
.grid-result td:nth-child(1) { width: 38px;text-align: left;}
/* Prop:trfmd_mm */
.grid-header th:nth-child(2),
.grid-filter td:nth-child(2),
.grid-filter td:nth-child(2) input,
.grid-result td:nth-child(2) { width: 38px;text-align: left;}
/* Prop:trfmd_cd_patio_orig */
.grid-header th:nth-child(3),
.grid-filter td:nth-child(3),
.grid-filter td:nth-child(3) input,
.grid-result td:nth-child(3) { width: 47px;text-align: left;}
/* Prop:trfmd_cd_patio_dest */
.grid-header th:nth-child(4),
.grid-filter td:nth-child(4),
.grid-filter td:nth-child(4) input,
.grid-result td:nth-child(4) { width: 47px;text-align: left;}
/* Prop:trfmd_px_trem */
.grid-header th:nth-child(5),
.grid-filter td:nth-child(5),
.grid-filter td:nth-child(5) input,
.grid-result td:nth-child(5) { width: 47px;text-align: left;}
/* Prop:trfmd_tp_trem */
.grid-header th:nth-child(6),
.grid-filter td:nth-child(6),
.grid-filter td:nth-child(6) input,
.grid-result td:nth-child(6) { width: 47px;text-align: left;}
/* Prop:trfmd_qt_trens_formados */
.grid-header th:nth-child(7),
.grid-filter td:nth-child(7),
.grid-filter td:nth-child(7) input,
.grid-result td:nth-child(7) { width: 56px;text-align: right;}
/* Prop:trfmd_dc_percorrida */
.grid-header th:nth-child(8),
.grid-filter td:nth-child(8),
.grid-filter td:nth-child(8) input,
.grid-result td:nth-child(8) { width: 65px;text-align: right;}
/* Prop:trfmd_tp_carga */
.grid-header th:nth-child(9),
.grid-filter td:nth-child(9),
.grid-filter td:nth-child(9) input,
.grid-result td:nth-child(9) { width: 20px;text-align: left;}
/* Prop:trfmd_tp_passagwiro */
.grid-header th:nth-child(10),
.grid-filter td:nth-child(10),
.grid-filter td:nth-child(10) input,
.grid-result td:nth-child(10) { width: 20px;text-align: left;}
/* Prop:trfmd_tp_serv */
.grid-header th:nth-child(11),
.grid-filter td:nth-child(11),
.grid-filter td:nth-child(11) input,
.grid-result td:nth-child(11) { width: 20px;text-align: left;}
/* Prop:trfmd_qt_locomotivas */
.grid-header th:nth-child(12),
.grid-filter td:nth-child(12),
.grid-filter td:nth-child(12) input,
.grid-result td:nth-child(12) { width: 47px;text-align: right;}
/* Prop:trfmd_qt_vags_carregados */
.grid-header th:nth-child(13),
.grid-filter td:nth-child(13),
.grid-filter td:nth-child(13) input,
.grid-result td:nth-child(13) { width: 47px;text-align: right;}
/* Prop:trfmd_qt_vags_vazios */
.grid-header th:nth-child(14),
.grid-filter td:nth-child(14),
.grid-filter td:nth-child(14) input,
.grid-result td:nth-child(14) { width: 47px;text-align: right;}
/* Prop:trfmd_vl_compr_trem */
.grid-header th:nth-child(15),
.grid-filter td:nth-child(15),
.grid-filter td:nth-child(15) input,
.grid-result td:nth-child(15) { width: 47px;text-align: right;}
/* Prop:trfmd_md_tkb */
.grid-header th:nth-child(16),
.grid-filter td:nth-child(16),
.grid-filter td:nth-child(16) input,
.grid-result td:nth-child(16) { width: 47px;text-align: right;}
/* Prop:trfmd_md_tku */
.grid-header th:nth-child(17),
.grid-filter td:nth-child(17),
.grid-filter td:nth-child(17) input,
.grid-result td:nth-child(17) { width: 47px;text-align: right;}
/* Prop:trfmd_tm_percurso */
.grid-header th:nth-child(18),
.grid-filter td:nth-child(18),
.grid-filter td:nth-child(18) input,
.grid-result td:nth-child(18) { width: 47px;text-align: right;}
/* Prop:trfmm_cd_mercadoria1 */
.grid-header th:nth-child(19),
.grid-filter td:nth-child(19),
.grid-filter td:nth-child(19) input,
.grid-result td:nth-child(19) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria2 */
.grid-header th:nth-child(20),
.grid-filter td:nth-child(20),
.grid-filter td:nth-child(20) input,
.grid-result td:nth-child(20) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria3 */
.grid-header th:nth-child(21),
.grid-filter td:nth-child(21),
.grid-filter td:nth-child(21) input,
.grid-result td:nth-child(21) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria4 */
.grid-header th:nth-child(22),
.grid-filter td:nth-child(22),
.grid-filter td:nth-child(22) input,
.grid-result td:nth-child(22) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria5 */
.grid-header th:nth-child(23),
.grid-filter td:nth-child(23),
.grid-filter td:nth-child(23) input,
.grid-result td:nth-child(23) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria6 */
.grid-header th:nth-child(24),
.grid-filter td:nth-child(24),
.grid-filter td:nth-child(24) input,
.grid-result td:nth-child(24) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria7 */
.grid-header th:nth-child(25),
.grid-filter td:nth-child(25),
.grid-filter td:nth-child(25) input,
.grid-result td:nth-child(25) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria8 */
.grid-header th:nth-child(26),
.grid-filter td:nth-child(26),
.grid-filter td:nth-child(26) input,
.grid-result td:nth-child(26) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria9 */
.grid-header th:nth-child(27),
.grid-filter td:nth-child(27),
.grid-filter td:nth-child(27) input,
.grid-result td:nth-child(27) { width: 29px;text-align: left;}
/* Prop:trfmm_cd_mercadoria10 */
.grid-header th:nth-child(28),
.grid-filter td:nth-child(28),
.grid-filter td:nth-child(28) input,
.grid-result td:nth-child(28) { width: 29px;text-align: left;}
/* Prop:tabs_vc */
.grid-header th:nth-child(29),
.grid-filter td:nth-child(29),
.grid-filter td:nth-child(29) input,
.grid-result td:nth-child(29) { width: 25px;text-align: left;}
/* Prop:recd_wd */
.grid-header th:nth-child(30),
.grid-filter td:nth-child(30),
.grid-filter td:nth-child(30) input,
.grid-result td:nth-child(30) { width: 30px;text-align: center;}
/* Prop:recd_wd */
.grid-header th:nth-child(31),
.grid-filter td:nth-child(31),
.grid-filter td:nth-child(31) input,
.grid-result td:nth-child(31) { width: 17px;text-align: center;}
/* Scroll space css right */
.grid-header th:nth-child(32),
.grid-filter td:nth-child(32) { width: 17px;}
#div_dtDados {direction: ltr;}
