/* Scroll space */
.grid-header th:nth-child(1), .grid-filter td:nth-child(1) { width: 17px;}
/* Prop:mesg_cd */
.grid-header th:nth-child(2),
.grid-filter td:nth-child(2), .grid-filter td:nth-child(2) input,
.grid-result td:nth-child(1) { width: 47px;;text-align: left;}
/* Prop:mesg_lg */
.grid-header th:nth-child(3),
.grid-filter td:nth-child(3), .grid-filter td:nth-child(3) input,
.grid-result td:nth-child(2) { width: 47px;;text-align: left;}
/* Prop:mesg_tp_cfmsg */
.grid-header th:nth-child(4),
.grid-filter td:nth-child(4), .grid-filter td:nth-child(4) input,
.grid-result td:nth-child(3) { width: 47px;;text-align: left;}
/* Prop:mesg_ds */
.grid-header th:nth-child(5),
.grid-filter td:nth-child(5), .grid-filter td:nth-child(5) input,
.grid-result td:nth-child(4) { width: 500px;;text-align: left;}
/* Prop:tabs_vc */
.grid-header th:nth-child(6),
.grid-filter td:nth-child(6), .grid-filter td:nth-child(6) input,
.grid-result td:nth-child(5) { width: 25px;;text-align: left;}
/* Prop:recd_wd */
.grid-header th:nth-child(7),
.grid-filter td:nth-child(7), .grid-filter td:nth-child(7) input,
.grid-result td:nth-child(6) { width: 0px;;text-align: left;}
/* Prop:recd_wd */
.grid-header th:nth-child(8),
.grid-filter td:nth-child(8), .grid-filter td:nth-child(8) input,
.grid-result td:nth-child(7) { width: 0px;;text-align: left;}
