/* Prop:obcntpr_tp */
.grid-header th:nth-child(1),
.grid-filter td:nth-child(1),
.grid-filter td:nth-child(1) input,
.grid-result td:nth-child(1) { width: 100px;text-align: left;}
/* Prop:obcntpr_cd */
.grid-header th:nth-child(2),
.grid-filter td:nth-child(2),
.grid-filter td:nth-child(2) input,
.grid-result td:nth-child(2) { width: 500px;text-align: left;}
/* Prop:obcntpr_tp_acesso */
.grid-header th:nth-child(3),
.grid-filter td:nth-child(3),
.grid-filter td:nth-child(3) input,
.grid-result td:nth-child(3) { width: 180px;text-align: left;}
/* Prop:recd_wd */
.grid-header th:nth-child(4),
.grid-filter td:nth-child(4),
.grid-filter td:nth-child(4) input,
.grid-result td:nth-child(4) { width: 30px;text-align: center;}
/* Scroll space css right */
.grid-header th:nth-child(5),
.grid-filter td:nth-child(5) { width: 17px;}
#div_dtDados {direction: ltr;}
