.tbxi, .br, .tbId, tdco, .tbDt, .tbDh, .tbHr, .tbCep,  
.tb10, .tb20, .tb30, .tb40, .tb45, .tb50, .tb60,  
.tb70, .tb75, .tb80, .tb90, .tb95,  
.tb100, .tb102, .tb110, .tb120, .tb125,  
.tb150, .tb175, .tb190, .tb192, .tb200,  
.tb225, .tb230, .tb250, .tb275,  
.tb300, .tb305, .tb310, .tb315, .tb325,  
.tb350, .tb360, .tb400, .tb410, .tb420,  
.tb425, .tb432, .tb450, .tb475,  
.tb490, .tb500, .tb550, .tb570, .tb575,  
.tb600, .tb650, .tb660, .tbMesg,  
.tbx { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; height: 18px; border-color: #FFFFFF; }
.br { height: 5px; }
.tbxman { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; height: 18px; border-color: #FFE4D0; }
.tbxopt { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; height: 18px; border-color: #FFFFAA; }
.tbIdr, tdcor, .tbDtr, .tbDhr, .tbHrr, .tbCepr,  
.tb10r, .tb20r, .tb30r, .tb40r, .tb45r, .tb50r,  
.tb60r, .tb70r, .tb75r, .tb80r, .tb90r, .tb95r,  
.tb100r, .tb102r, .tb110r, .tb120r, .tb125r, .tb150r,  
.tb175r, .tb190r, .tb192r, .tb200r, .tb225r, .tb230r,  
.tb250r, .tb275r, .tb300r, .tb305r, .tb310r, .tb315r,  
.tb325r, .tb350r, .tb360r, .tb400r, .tb410r, .tb420r,  
.tb425r, .tb432r, .tb450r, .tb475r, .tb490r, .tb500r,  
.tb550r, .tb570r, .tb575r, .tb600r, .tb650r, .tb660r, .tbMesgr,  
.tbxr { background-color: #FAF8F8; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; height: 18px; border: 1px solid #D3D4D8; border-color: #E6E6E6; }
.tbxmanr { background-color: #F5F9F2; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; height: 18px; border: 1px solid #D3D4D8; border-color: #FFE4D0; }
.tbxoptr { background-color: #F5F9FF; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; height: 18px; border: 1px solid #D3D4D8; border-color: #FFFFAA; }
.tbxi { background-color: #FAF8F8; border: 1px solid #E7ECF2; }
.tbxh { background-color: #00FFFF; border: 1px solid #E7ECF2; }
.tbIdr, .tbId { width: 60px; }
.tbcor, .tbco { width: 60px; }
.tbDtr, .tbDt { width: 80px; }
.tbDhr, .tbDh { width: 130px; }
.tbHrr, .tbHr { width: 50px; }
.tbCepr, .tbCep { width: 70px; }
.tb10r, .tb10 { width: 10px; }
.tb11r, .tb10 { width: 10px; }
.tb11r, .tb11 { width: 11px; }
.tb12r, .tb12 { width: 12px; }
.tb13r, .tb13 { width: 13px; }
.tb14r, .tb14 { width: 14px; }
.tb15r, .tb15 { width: 15px; }
.tb16r, .tb16 { width: 16px; }
.tb17r, .tb17 { width: 17px; }
.tb18r, .tb18 { width: 18px; }
.tb19r, .tb19 { width: 19px; }
.tb20r, .tb20 { width: 20px; }
.tb30r, .tb30 { width: 30px; }
.tb40r, .tb40 { width: 40px; }
.tb45r, .tb45 { width: 45px; }
.tb50r, .tb50 { width: 50px; }
.tb60r, .tb60 { width: 60px; }
.tb70r, .tb70 { width: 70px; }
.tb75r, .tb75 { width: 75px; }
.tb80r, .tb80 { width: 80px; }
.tb90r, .tb90 { width: 90px; }
.tb95r, .tb95 { width: 95px; }
.tb100r, .tb100 { width: 100px; }
.tb102r, .tb102 { width: 102px; }
.tb110r, .tb110 { width: 120px; }
.tb120r, .tb120 { width: 120px; }
.tb125r, .tb125 { width: 125px; }
.tb150r, .tb150 { width: 150px; }
.tb175r, .tb175 { width: 175px; }
.tb192r, .tb192 { width: 192px; }
.tb190r, .tb190 { width: 190px; }
.tb200r, .tb200 { width: 200px; }
.tb225r, .tb225 { width: 225px; }
.tb230r, .tb230 { width: 230px; }
.tb250r, .tb250 { width: 250px; }
.tb275r, .tb275 { width: 275px; }
.tb300r, .tb300 { width: 300px; }
.tb305r, .tb305 { width: 305px; }
.tb310r, .tb310 { width: 310px; }
.tb315r, .tb315 { width: 315px; }
.tb325r, .tb325 { width: 325px; }
.tb350r, .tb350 { width: 350px; }
.tb360r, .tb360 { width: 360px; }
.tb375r, .tb375 { width: 375px; }
.tb400r, .tb400 { width: 400px; }
.tb410r, .tb410 { width: 402px; }
.tb420r, .tb420 { width: 420px; }
.tb425r, .tb425 { width: 425px; }
.tb432r, .tb432 { width: 420px; }
.tb450r, .tb450 { width: 450px; }
.tb475r, .tb475 { width: 475px; }
.tb490r, .tb490 { width: 490px; }
.tb500r, .tb500 { width: 500px; }
.tb520r, .tb520 { width: 520px; }
.tb525r, .tb525 { width: 525px; }
.tb550r, .tb550 { width: 550px; }
.tb570r, .tb570 { width: 570px; }
.tb575r, .tb575 { width: 575px; }
.tb600r, .tb600 { width: 600px; }
.tb625r, .tb625 { width: 625px; }
.tb650r, .tb650 { width: 650px; }
.tb660r, .tb660 { width: 660px; height: 50px; }
.tb675r, .tb675 { width: 675px; }
.tbMesgr, .tbMesg { width: 600px; }
.pr1 { padding-right: 1px; }
.pl1 { padding-left: 1px; }
.pr2 { padding-right: 2px; }
.pl2 { padding-left: 2px; }
.pr5 { padding-right: 5px; }
.pl5 { padding-left: 5px; }
.pr10 { padding-right: 10px; }
.pl10 { padding-left: 10px; }
.pb5 { padding-bottom: 5px; }
.txr { text-align: right; }
.txl { text-align: left; }
.txc { text-align: center; }
.txj { text-align: justify; }
div.subsectionname { background-color: #4070e0; font-size: 14px; font-weight: bold; padding-left: 4%; border: 1px #3962c5 solid; z-index: 53; margin-top: 5%; }
div.sectionname { background-color: transparent; color: #dcdcdc; font-weight: bold; width: 500px; height: 20px; z-index: 53; }
div.sectionnameinner { background-color: transparent; padding: 2px; z-index: 54; }
div.section { background-color: #4a73d6; color: #eeeeee; padding: 10px; padding-top: 25px; width: 90px; border-color: #1045AD; border-width: 1px; border-style: solid; z-index: 52; }
div.section_topright { background-color: transparent; padding: 0px; width: 14px; height: 13px; z-index: 53; }
div.scroll { padding: 2px; width: 765px; border: 0px solid #eeeeee; }
pre { background-color: #6292f2; padding: 2px; border: 1px #4070e0 solid; }
span.comment { background-color: #5181e1; color: #ffffff; }
.domTTClass2Container { background-color: #FFFFFF; border: 2px dotted black; }
.domTTClass2Content { font-size: 12px; font-family: Arial; padding: 1px 2px 0 2px; }
.domTTOverlibContainer { background-color: #AAAAFF; border: 1px black solid; }
.domTTOverlibContent { font-family: Arial, sans-serif; padding: 1px 2px 0 2px; }
.domTTOverlibCaption { background-color: #000000; color: #ffffff; border: 1px black solid; }
.domTTClassicContainer { background-color: #FBF4D4; border: 1px solid black; }
.domTTClassicCaption { font-size: 12px; font-family: serif; font-style: italic; font-weight: bold; padding: 1px 2px; }
.domTTClassicContent { font-size: 12px; font-family: Arial, -sans-serif; padding: 1px 2px 0 2px; }
body { margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; }
.cabecalho { background-color: #ffffff; color: #000000; }
.container { background-color: #C6C7C6; border-right: 1px #000 solid; border-left: 1px #fff solid; border-top: 1px #fff solid; }
.win9x_off { background-color: #C6C7C6; font-size: 11px; color: #000000; text-align: left; border: 1px #C6C7C6 solid;; }
.win9x_off_hr { background-color: #C6C7C6; font-size: 2px; color: #000000; text-align: left; border: 1px #C6C7C6 solid; }
.win9x_rollover { background-color: #00047B; font-size: 11px; color: #ffffff; text-align: left; border: 1px #D6D3D6 solid; }
.mnt {display: table; font-size: 11px; color: #000000; font-family: Verdana, Arial; padding-left: 5px; padding-right: 5px; text-decoration: none; text-align: left; vertical-align: middle; }
.mnt10 { font-size: 10px; color: #000000; font-family: Verdana, Arial; padding-left: 5px; padding-right: 5px; text-decoration: none; text-align: left; vertical-align: middle; }
a.mnt:hover { font-size: 11px; color: #000000; font-family: Verdana, Arial; text-decoration: underline; }
.mnte { font-size: 11px; color: #000000; font-family: Verdana, Arial; padding: 0 13px; text-decoration: none; text-align: left; vertical-align: middle; }
a.mnte:hover { font-size: 11px; color: #000000; font-family: Verdana, Arial; text-decoration: underline; }
.mnts { font-size: 11px; color: #5F6D84; font-family: Verdana, Arial; padding-left: 15px; text-decoration: none; text-align: left; }
.mnts1 { padding-left: 30px; }
a.mnts:hover { font-size: 11px; color: #000000; font-family: Verdana, Arial; text-decoration: underline; }
.mn { background-color: #E6E6E6; font-size: 10px; color: #B9D3EE; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #E6E6E6 1px solid; border-top: #E6E6E6 1px solid; border-bottom: #E6E6E6 1px solid; }
.pdl05 { padding-left: 5px; padding-right: 5px; }
.pdl10 { padding-left: 10px; padding-right: 10px; }
.pdl15 { padding-left: 15px; padding-right: 15px; }
.pdl20 { padding-left: 20px; padding-right: 20px; }
.pdl25 { padding-left: 25px; padding-right: 25px; }
.pdl30 { padding-left: 30px; padding-right: 30px; }
.mns { background-color: #E6E6E6; font-size: 10px; color: #B9D3EE; font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #E6E6E6 1px solid; border-top: #E6E6E6 1px solid; }
.mntbct { background-color: #E6E6E6; height: 25px; border-right: #E6E6E6 1px solid; border-bottom: #E6E6E6 1px solid; }
.mnct { background-color: #E6E6E6; font-size: 10px; color: #B9D3EE; font-family: Verdana, Arial, Helvetica; font-weight: normal; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; }
.spmns { background-color: #E6E6E6; font-size: 10px; color: #B9D3EE; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #E6E6E6 1px solid; border-top: #E6E6E6 1px solid; border-bottom: 1px solid; }
.mnv { background-color: #DCDCDC; font-size: 10px; color: #515151; font-weight: normal; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #E6E6E6 1px solid; border-left: #E6E6E6 1px solid; }
.mnvs { background-color: #DCDCDC; font-size: 10px; color: #515151; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #D3D3D3 1px solid; border-left: #E6E6E6 1px solid; border-bottom: #D3D3D3 1px solid; }
.mnvl { border-top: #D3D3D3 1px solid; }
.mnvtbct { background-color: #D3D3D3; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; border-right: #D3D3D3 1px solid; border-left: #D3D3D3 1px solid; }
.mnvct { background-color: #E6E6E6; font-size: 10px; color: #515151; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #D3D3D3 1px solid; border-left: #D3D3D3 1px solid; }
.spmnvs { background-color: #E6E6E6; font-size: 10px; color: #515151; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-right: #D3D3D3 1px solid; border-left: #D3D3D3 1px solid; border-bottom: #D3D3D3 1px solid; }
TABLE { color: #D3D4D8; font-family: Verdana, Arial, Helvetica, sans-serif; }
.ps_add { background-color: #FFD7D7; padding-left: 4px; padding-top: 4px; padding-bottom: 4px; text-align: center; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.ps_upd { background-color: #E7F3F8; text-align: center; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.ps_cle { background-color: #FFFFFF; text-align: center; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.ps_lnk { font-size: 18px; color: #5F6D84; font-family: Verdana, Arial; padding-left: 3px; padding-right: 3px; text-decoration: none; text-align: left; vertical-align: middle; }
a.ps_lnk:hover { font-size: 11px; color: #353C6A; font-family: Verdana, Arial; text-decoration: underline; }
.act_a { background-color: #FAFDFF; padding-top: 4px; padding-bottom: 4px; border-right: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.act_b { background-color: #E7F3F8; border-right: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.act_c { background-color: #FFFFFF; border-right: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.tbab { color: #D3D4D8; font-family: Verdana, Arial, Helvetica, sans-serif; border-left: #D3D4D8 1px solid; }
.abs { background-color: #FEEAC0; font-weight: bold; border-right: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.ab { background-color: #E7F3F8; border-right: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.abm { background-color: #FAFDFF; border-right: #D3D4D8 1px solid; border-top: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.actv_a { background-color: #FAFDFF; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.actv_b { background-color: #E7F3F8; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.actv_c { background-color: #FFFFFF; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.tbabv { color: #D3D4D8; font-family: Verdana, Arial, Helvetica, sans-serif; border-top: #D3D4D8 1px solid; }
.abvs { background-color: #FEEAC0; font-weight: bold; border-right: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.abv { background-color: #E7F3F8; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.abvm { background-color: #FAFDFF; border-right: #D3D4D8 1px solid; border-left: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.tai { border-right: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.taf { border-bottom: #D3D4D8 1px solid; }
.tavi { border-right: #D3D4D8 1px solid; border-bottom: #D3D4D8 1px solid; }
.tavf { border-right: #D3D4D8 1px solid; }
.ttBO { font-size: 40px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.txtTSystemB { font-size: 14px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; padding: 10px; }
.txtTSystemC { font-size: 15px; color: #003399; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding: 10px; }
.txtTSystem { font-size: 16px; color: #F5F9FF; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding: 10px; }
.txtSystem { font-size: 12px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.txtSystemB { font-size: 12px; color: #99FFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.tlb { font-size: 12px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.txtHeader { font-size: 12px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; }
.txtHeaderB { font-size: 12px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; }
.txtFooter { font-size: 10px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; }
.tc { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; }
a.tc:active { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; text-decoration: none; }
a.tc:visited { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; text-decoration: none; }
a.tc:hover { font-size: 10px; color: #000000; font-family: Arial, helvetica, sans-serif; font-weight: bold; text-decoration: none; }
a.tc:link { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; text-decoration: none; }
.ti { font-size: 10px; color: #000000; font-family: Verdana, Arial; }
.tih { font-size: 10px; color: #000000; font-family: Verdana, Arial; border-bottom: 1px dashed; }
.tih10 { font-size: 10px; color: #000000; font-family: Verdana, Arial; border-bottom: 1px dashed; }
.tih9 { font-size: 9px; color: #000000; font-family: Verdana, Arial; border-bottom: 1px dashed; }
.tih8 { font-size: 8px; color: #000000; font-family: Verdana, Arial; border-bottom: 1px dashed; }
.tiro { font-size: 12px; color: #000000; font-family: Verdana, Arial; font-weight: bold; width: 60px; }
.tim { font-size: 12px; color: #000066; font-family: Verdana, Arial; }
.tip { font-size: 10px; color: #000000; }
.tipd { font-size: 10px; color: gray; font-family: verdana; text-decoration: none; }
a.tip:link { font-size: 10px; color: #5F6D84; font-family: verdana; text-decoration: none; }
a.tip:visited { font-size: 10px; color: #0060B0; font-family: verdana; text-decoration: none; }
a.tip:hover { font-size: 10px; color: #353C6A; font-family: verdana; text-decoration: underline; }
a.tip:active { font-size: 10px; color: #000000; font-family: verdana; text-decoration: none; }
.bt { font-size: 10px; color: #433927; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
a.bt:active { font-size: 10px; color: #353C6A; font-family: Verdana, Arial, Helvetica, sans-serif;; text-decoration: none; }
a.bt:visited { font-size: 10px; color: #353C6A; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none; }
a.bt:hover { font-size: 10px; color: #433927; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none; }
a.bt:link { font-size: 10px; color: #29373B; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none; }
.tbtd { font-size: 10px; color: gray; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none; }
.tc { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; }
a.tc:active { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; text-decoration: none; }
a.tc:visited { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; text-decoration: none; }
a.tc:hover { font-size: 10px; color: #000000; font-family: Arial, helvetica, sans-serif; font-weight: bold; text-decoration: none; }
a.tc:link { font-size: 10px; color: #333333; font-family: Arial, helvetica, sans-serif; text-decoration: none; }
.th { font-size: 10px; color: #666666; font-family: Arial, helvetica, sans-serif; }
.tmei { font-size: 10px; color: #BCBCBC; font-family: Verdana, Arial; }
a.tmea:active { font-size: 10px; color: #333333; font-family: Verdana, Arial; text-decoration: none; }
a.tmea:visited { font-size: 10px; color: #333333; font-family: Verdana, Arial; text-decoration: none; }
a.tmea:hover { font-size: 10px; color: #000000; font-family: Verdana, Arial; font-weight: bold; text-decoration: none; }
a.tmea:link { font-size: 10px; color: #333333; font-family: Verdana; text-decoration: none; }
.toi { font-size: 10px; color: #cccccc; font-family: Verdana, Arial; }
a.to:active { font-size: 10px; color: #333333; font-family: Verdana; text-decoration: none; }
a.to:visited { font-size: 10px; color: #333333; font-family: Verdana, Arial; text-decoration: none; }
a.to:hover { font-size: 10px; color: #000000; font-family: Verdana, Arial; font-weight: bold; text-decoration: none; }
a.to:link { font-size: 10px; color: #333333; font-family: Verdana, Arial; text-decoration: none; }
.trp { font-size: 10px; color: #000000; font-family: Verdana, Arial; font-weight: bold; }
.tt { font-size: 10px; color: #333333; font-family: Verdana, Arial; font-weight: bold; }
.tst { font-size: 12px; color: #5F6D84; font-family: Verdana; font-weight: bold; padding-bottom: 10px; text-align: center; }
.ttl { font-size: 12px; color: #000000; font-family: Verdana; font-weight: bold; padding-left: 60px; padding-top: 3px; padding-bottom: 2px; text-align: left; vertical-align: middle; }
.tti { font-size: 12px; color: #000000; font-family: Verdana; font-weight: bold; padding-top: 3px; padding-bottom: 2px; text-align: center; vertical-align: middle; }
.tts { font-size: 11px; color: #000000; font-family: Arial; font-weight: bold; padding-top: 3px; padding-bottom: 2px; vertical-align: middle; position: relative; border-bottom: #D3D4D8 1px solid; }
.tts14 { font-size: 14px; color: #000000; font-family: Arial; font-weight: bold; padding-top: 3px; padding-bottom: 2px; vertical-align: middle; position: relative; border-bottom: #D3D4D8 1px solid; }
.ttd { font-size: 11px; color: #000000; font-weight: normal; padding-top: 3px; padding-bottom: 2px; vertical-align: bottom; position: relative; border-bottom: #D3D4D8 1px solid; }
.ttib { font-size: 12px; color: #ffffff; font-family: Verdana; }
.cmo { font-size: 10px; color: #000000; font-family: verdana; text-decoration: underline; }
.cmou { font-size: 10px; color: #5F6D84; font-family: verdana; text-decoration: none; }
.tb { font-size: 12px; color: #5F6D84; font-family: verdana; border-color: #ffffff; }
.tb9 { font-size: 9px; color: #5F6D84; font-family: verdana; }
.tb8 { font-size: 8px; color: #5F6D84; font-family: 'Times New Roman'; }
.tbp { width: 100%; }
.tbc { width: 95%; }
.tbcp { width: 90%; }
.tbc95 { width: 95%; }
.tbcp95 { width: 95%; }
.tbc96 { width: 96%; }
.tbcp96 { width: 96%; }
.tbc97 { width: 97%; }
.tbcp97 { width: 97%; }
.tbc98 { width: 98%; }
.tbcp98 { width: 98%; }
.tbb { width: 100%; }
.tbtt { width: 100%; }
.tbbt { width: 180px; }
.tbm { width: 100%; }
.tbcd 
.tbpq 
.tba { width: 100%; height: 20px; border: 0px; }
.tbmn { border-right: 1px #D3D4D8 solid;; }
.tbmnh { background-color: #D7EBF1; }
.tbr { background-color: #ffffff; font-size: 10px; color: #000000; font-family: Verdana, Arial; }
.tbsb { font-size: 10px; color: #000000; font-family: verdana; text-align: left; }
.tbsb { font-size: 10px; color: #000000; font-family: verdana; text-align: left; vertical-align: text-top; }
.tbsb { font-size: 10px; color: #000000; font-family: verdana; text-align: left; vertical-align: text-top; }
.tbra { background-color: #ffffff; font-size: 10px; color: #000000; font-family: Verdana, Arial; font-weight: bold; }
.tbh { background-color: #5F6D84; font-size: 10px; color: #FFFFFF; font-family: verdana; font-weight: bold; text-align: center; height: 15px; }
.tbh10 { background-color: #5F6D84; font-size: 10px; color: #FFFFFF; font-family: verdana; font-weight: bold; text-align: center; height: 15px; }
.tbh9 { background-color: #5F6D84; font-size: 9px; color: #FFFFFF; font-family: verdana; text-align: center; display: inline-flex; height: 15px; overflow: hidden; }
.tbh8 { background-color: #5F6D84; font-size: 8px; color: #FFFFFF; font-family: verdana; font-weight: bold; text-align: center; height: 15px; }
.tre { background-color: #FAFDFF; font-size: 10px; color: #000000; font-family: verdana; }
.tro { background-color: #E6F0F2; font-size: 10px; color: #000000; font-family: verdana; }
.tre10 { background-color: #FAFDFF; font-size: 10px; color: #000000; font-family: verdana; }
.tro10 { background-color: #E6F0F2; font-size: 10px; color: #000000; font-family: verdana; }
.tre8 { background-color: #FAFDFF; font-size: 8px; color: #000000; font-family: 'Times New Roman'; }
.tro8 { background-color: #E6F0F2; font-size: 8px; color: #000000; font-family: 'verdana'; }
.tr { background-color: #D7EBF1; font-size: 10px; color: #000000; font-family: verdana; }
.trs { background-color: #B7DBE6; font-size: 10px; color: #000000; font-family: verdana; }
.trm { background-color: #FFFFDD; font-size: 10px; color: #000000; font-family: verdana; }
.tbf { background-color: #FAF8F8; font-size: 10px; color: #000000; font-family: verdana; border-right: 1px #B7DBE6 solid; border-left: 1px #B7DBE6 solid; border-top: 1px #B7DBE6 solid; border-bottom: 1px #B7DBE6 solid; }
.tbff { background-color: #ffffff; font-size: 10px; color: #000000; font-family: verdana; border-right: 1px #B7DBE6 solid; border-left: 1px #B7DBE6 solid; border-top: 1px #B7DBE6 solid; border-bottom: 1px #B7DBE6 solid; }
.tbf10 { background-color: #FAF8F8; font-size: 10px; color: #000000; font-family: verdana; }
.tbf9 { background-color: #FAF8F8; font-size: 9px; color: #000000; font-family: verdana; }
.tbf8 { background-color: #FAF8F8; font-size: 8px; color: #000000; font-family: verdana; }
.tbTaboff { background-color: #2B8EA7; border-top: 1px solid; }
.tbTabon { background-color: #F1F8FA; border-top: 1px solid; }
.tbit { border-color: #FFFFFF; }
.tbitr { background-color: #F1F8FA; border: 1px solid #D3D4D8; }
.tbck { border-color: #FFFFFF; }
td { font-family: Verdana, Arial; }
.pf { font-size: 10px; font-family: verdana; width: 100%; height: 16px; border: 0px; }
.pfd { font-size: 10px; font-family: verdana; width: 100%; height: 16px; border: 0px; }
.pfd9 { font-size: 9px; font-family: verdana; width: 100%; border: 0px; }
.pfdb9 { font-size: 9px; font-family: verdana; width: 100%; height: 16px; border: 0px; }
.pfd8 { font-size: 8px; font-family: verdana; width: 100%; height: 16px; border: 0px; }
.pfd50 { font-size: 10px; font-family: verdana; width: 50%; height: 16px; border: 0px; }
.pfcf { font-family: verdana; width: 20px; height: 16px; border: 0px; }
.pfcf9 { font-size: 9px; font-family: verdana; width: 100%; border: 0px; }
.pfcfb9 { font-size: 9px; font-family: verdana; width: 100%; border: 0px; }
.pfcf8 { font-size: 8px; font-family: verdana; width: 100%; height: 16px; border: 0px; }
.pfufd { font-size: 10px; font-family: verdana; width: 20px; height: 16px; border: 0px; }
.bt { background-color: #D3D4D8; font-size: 12px; color: #29373B; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.btb { background-color: #D3D4D8; font-size: 12px; color: #433927; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.btb { font-size: 10px; color: black; width: 2px; height: 2px; }
.btp { vertical-align: middle; border: 0px; }
.bth { font-size: 11px; width: 10px; }
.bte { font-size: 11px; color: #433927; width: 100%; }
.btnBox { font-size: 11px; color: #433927; width: 100%; }
.btnBox40 { font-size: 11px; color: #433927; text-align: center; width: 40px; }
.btnBox50 { font-size: 11px; color: #433927; font-family: Arial, Verdana, Helvetica, sans-serif; text-align: center; width: 60px; }
.btnBox50Red { font-size: 11px; color: #161661; font-family: Arial, Verdana, Helvetica, sans-serif; text-align: center; width: 60px; }
.btnBox60 { font-size: 11px; color: #433927; text-align: center; width: 60px; }
.btnBox80 { font-size: 11px; color: #433927; text-align: center; width: 80px; }
.btnBox100 { font-size: 11px; color: #433927; text-align: center; width: 100px; }
.btnBox120 { font-size: 11px; color: #433927; text-align: center; width: 120px; }
.btnBox140 { font-size: 11px; color: #433927; text-align: center; width: 140px; }
.btnBox160 { font-size: 11px; color: #433927; text-align: center; width: 160px; }
.btnBoxRed { font-size: 11px; color: #FF0000; width: 100%; }
.btnBoxDisable { font-size: 11px; color: #FF0000; width: 100%; }
.btnBoxGreen { font-size: 11px; color: #00FF00; width: 100%; }
.btnBoxBlue { font-size: 11px; color: #0000FF; width: 100%; }
.bte1 { background-color: #D3D4D8; font-size: 11px; color: #5F6D84; width: 100%; }
.dsp { font-size: 10px; color: #5F6D84; font-family: Verdana, Arial; }
.iex { border: 0px; }
.loading { font-size: 11px; color: #000000; font-family: Verdana, Arial; font-weight: bold; padding: 5px; position: absolute; border: #000000 1px solid; }
.cl_BLCK { font-size: 9px; color: orange; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.cl_BLUE { font-size: 9px; color: blue; font-family: Verdana, Arial, Helvetica, sans-serif; }
.cl_BROW { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.cl_GREY { font-size: 9px; color: grey; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.cl_REDX { font-size: 9px; color: red; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.cl_GREN { font-size: 9px; color: green; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clfgct_X { background-color: cyan; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clfgct_H { background-color: salmon; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clpttp_ML { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clpttp_SL { font-size: 9px; color: orange; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clvhtp_WG { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clvhtp_EG { font-size: 9px; color: orange; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clvhtp_PC { font-size: 9px; color: grey; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clvhtp_EP { font-size: 9px; color: yellow;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clvhtp_RC { font-size: 9px; color: black;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.clvhtp_PP { font-size: 9px; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
.grid { border-color: slategray; border-width: 1px; border-style: solid; }
.grid table { border-spacing: 1px; }
.grid-header { font-size: 9px; color: #FFFFFF; font-family: verdana; text-align: left; height: 15px; overflow: hidden; }
.grid-header th { background-color: #5F6D84; }
.grid-filter { font-size: 9px; font-family: 'Verdana,  Arial'; padding-top: 0px; height: 15px; overflow: hidden; }
.grid-filter input { font-size: 9px; font-family: 'Verdana,  Arial'; border: 0px; }
.grid-result { height: 461px; overflow-x: hidden; overflow-y: scroll; border-width: 1px; direction: rtl; border-style: none; width: 100%;}
.grid-result table { position: relative; direction: ltr; }
#sel__a_scrollbar th { width: 14px; }

.tre9 { background-color: #FFE6E6; font-size: 9px; color: #000000; font-family: verdana; }
.tro9 { background-color: #FFCCCC; font-size: 9px; color: #000000; font-family: verdana; }
.trs9 { background-color: #CFCFCF; font-size: 9px; color: #000000; font-family: verdana; }
.tre9:HOVER, .tro9:HOVER, .trs9:HOVER { background-color: #B9D3EE; font-size: 9px; color: #000000; font-family: verdana; }
