/* Scroll space */
.grid-header th:nth-child(1), .grid-filter td:nth-child(1) { width: 17px;}
/* Prop:rlopr_id_opern */
.grid-header th:nth-child(2),
.grid-filter td:nth-child(2), .grid-filter td:nth-child(2) input,
.tre9 td:nth-child(1), .tro9 td:nth-child(1),
.tbh9 td:nth-child(1), .tbf9 td:nth-child(1) { width: 150px;}
/* Prop:rlopr_cd_trctg */
.grid-header th:nth-child(3),
.grid-filter td:nth-child(3), .grid-filter td:nth-child(3) input,
.tre9 td:nth-child(2), .tro9 td:nth-child(2),
.tbh9 td:nth-child(2), .tbf9 td:nth-child(2) { width: 50px;}
/* Prop:rlopr_cd_trnam */
.grid-header th:nth-child(4),
.grid-filter td:nth-child(4), .grid-filter td:nth-child(4) input,
.tre9 td:nth-child(3), .tro9 td:nth-child(3),
.tbh9 td:nth-child(3), .tbf9 td:nth-child(3) { width: 300px;}
/* Prop:rlopr_cd_accr */
.grid-header th:nth-child(5),
.grid-filter td:nth-child(5), .grid-filter td:nth-child(5) input,
.tre9 td:nth-child(4), .tro9 td:nth-child(4),
.tbh9 td:nth-child(4), .tbf9 td:nth-child(4) { width: 80px;}
/* Prop:chk_var */
.grid-header th:nth-child(6),
.grid-filter td:nth-child(6), .grid-filter td:nth-child(6) input,
.tre9 td:nth-child(5), .tro9 td:nth-child(5),
.tbh9 td:nth-child(5), .tbf9 td:nth-child(5) { width: 11px;}
/* Prop:tabs_vc */
.grid-header th:nth-child(7),
.grid-filter td:nth-child(7), .grid-filter td:nth-child(7) input,
.tre9 td:nth-child(6), .tro9 td:nth-child(6),
.tbh9 td:nth-child(6), .tbf9 td:nth-child(6) { width: 25px;}
/* Prop:recd_wd */
.grid-header th:nth-child(8),
.grid-filter td:nth-child(8), .grid-filter td:nth-child(8) input,
.tre9 td:nth-child(7), .tro9 td:nth-child(7),
.tbh9 td:nth-child(7), .tbf9 td:nth-child(7) { width: 30px;}
/* Prop:recd_wd */
.grid-header th:nth-child(9),
.grid-filter td:nth-child(9), .grid-filter td:nth-child(9) input,
.tre9 td:nth-child(8), .tro9 td:nth-child(8),
.tbh9 td:nth-child(8), .tbf9 td:nth-child(8) { width: 30px;}
